<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto" style="width: 85%; justify-content: space-around;">
                <li class="nav-item">
                    <a  class="btn btn-sm btn-outline-secondary" href="/checkout/hosted-fields">Hosted Fields</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-sm btn-outline-secondary" href="/checkout/3DS-drop-in">3D Secure</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-sm btn-outline-secondary" href="/checkout/paypal">PayPal</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-sm btn-outline-secondary" href="/checkout/google-pay">Google Pay</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-sm btn-outline-secondary" href="/checkout/local-payment-methods">Local Payment Methods</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-sm btn-outline-secondary" href="/checkout/ach-debit">ACH Direct Debit</a>
                </li>
            </ul>
        </div>
    </div>
</nav>