<!DOCTYPE html>
<html lang='en'>

<%- include('partials/head.ejs') %>

    <body id='checkout-page' class='mx-auto'>
        <a id="homeButton" href="/"><i class="fa fa-home"></i></a>
        <!-- Drop-in UI Code -->

        <!-- / end -->
    </body>

</html>