<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %>

<body>
    <div id="homePage">
        <h1>Integration Testing</h1>
        <main>
            <section>
                <a href="/checkout/hosted-fields" class="btn btn-primary">Hosted Fields</a>
                <a href="/checkout/3DS-drop-in" class="btn btn-primary">3D Secure (Drop-in UI)</a>
                <a href="/checkout/paypal" class="btn btn-primary">PayPal</a>
                <a href="/checkout/google-pay" class="btn btn-primary">Google Pay</a>
                <a href="/checkout/local-payment-methods" class="btn btn-primary">Local Payment Methods</a>
                <a href="/checkout/ach-debit" class="btn btn-primary">ACH Direct Debit</a>
            </section>
        </main>
    </div>
</body>

</html>