<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACH Debit</title>
    <link rel="stylesheet" href="/style2.css" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <%- include('../partials/nav-bar.ejs') %>
        <div class="container-fluid mx-auto">

            <div
                style="height: 45vh; display: flex; align-items: center; justify-content: center; flex-direction: column;">
                <form action="/ach-vault" method="post" class="row" id="ach-form">
                    <div class='col-12 spacing'>
                        <label for="account-number" class="form-label">Account Number</label>
                        <input type="number" id="account-number" class="form-control" name="account-number" value="1000000000">
                    </div>
                   <p></p>
                   <div class='col-12 spacing'>
                       <label for="routing-number" class="form-label">Routing Number</label>
                       <input type="number" id="routing-number" class="form-control" name="routing-number" value="011000015">
                    </div>
                    <p></p>
                    <div class='col-12 spacing'>
                        <input hidden id='nonce' name="nonce">
                        <button id="submit-button" class="btn btn-success" type="submit">Save</button>
                    </div>
                </form>
                <hr>
                <code style="width: 50%; text-align: center;">
                    By clicking ["Save"], I authorize Braintree, a service of PayPal, on behalf of [your business name here] (i) to verify my bank account information using bank information and consumer reports and (ii) to debit my bank account.
                </code>
            </div>

            <div class='docs-card mx-auto' style="width: fit-content;">
                <section style="display: flex; justify-content: space-evenly;">
                    <a target="_blank"
                        href="https://developer.paypal.com/braintree/docs/guides/ach/client-side/javascript/v3/"
                        class="btn btn-primary">ACH Client-Side Docs</a>
                    <a target="_blank" href="https://braintree.github.io/braintree-web/current/USBankAccount.html"
                        class="btn btn-primary">Additonal Documentation</a>
                    <a target="_blank"
                        href="https://developer.paypal.com/braintree/docs/guides/ach/testing-go-live"
                        class="btn btn-primary">Testing Values</a>
                </section>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://js.braintreegateway.com/web/3.97.2/js/client.min.js"></script>
        <script src="https://js.braintreegateway.com/web/3.97.2/js/us-bank-account.min.js"></script>
        <script>

            const button = document.getElementById('submit-button')
            const form = document.getElementById('ach-form')

            braintree.client.create({
                authorization: "<%= clientToken %>"
            }, (clientErr, clientInstance) => {
                if (clientErr) {
                    console.error('There was an error creating the Client.');
                    throw clientErr;
                }

                braintree.usBankAccount.create({
                    client: clientInstance
                }, (usBankAccountErr, usBankAccountInstance) => {
                    if (usBankAccountErr) {
                        console.error('There was an error creating the USBankAccount instance.');
                        throw usBankAccountErr;
                    }

                    button.addEventListener('click', () => {
                        event.preventDefault()

                        const bankDetails = {
                            accountNumber: document.getElementById('account-number').value,
                            routingNumber: document.getElementById('routing-number').value,
                            accountType: "checking",
                            ownershipType: "personal",
                            billingAddress: {
                                streetAddress: "123 Main St.",
                                extendedAddress: "",
                                locality: "Chicago",
                                region: "IL",
                                postalCode: "60615"
                            }
                        };

                        if (bankDetails.ownershipType === 'personal') {
                            bankDetails.firstName = "Brain";
                            bankDetails.lastName = "Tree";
                        } else {
                            bankDetails.businessName = "Braintree";
                        }

                        usBankAccountInstance.tokenize({
                            bankDetails: bankDetails,
                            mandateText: 'By clicking ["Checkout"], I authorize Braintree, a service of PayPal, on behalf of [your business name here] (i) to verify my bank account information using bank information and consumer reports and (ii) to debit my bank account.'
                        }, (tokenizeErr, tokenizedPayload) => {
                            if (tokenizeErr) {
                                console.error('There was an error tokenizing the bank details.');
                                throw tokenizeErr;
                            }
                            console.log(tokenizedPayload)
                            document.getElementById("nonce").value = tokenizedPayload.nonce
                            form.submit()
                        });
                    })

                });
            });

        </script>
</body>

</html>