<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hosted Fields</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <link rel='stylesheet' href='/style.css' type='text/css'>
  <link rel="stylesheet" href="/hostedFields.css" type="text/css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
</head>

<body>

  <div id="hostedFields" class="container-fluid mx-auto">

    <div id="errorMessages"></div>

    <form id="paymentForm" action="/transaction-sale" method="post">
      <div id="cardForm" class="row">
        <div class='col-12'>
          <label for='amount'>Transaction Amount</label>
          <br />
          <input id='amount' type='number' name='amount'>
        </div>
      </div>
      <hr />
      <div id="cardForm" class="row">
        <div class="col-12 spacing">
          <label for="cardholer-name">Cardholder Name</label>
          <div class="form-control" id="cardholder-name"></div>
        </div>
        <div class="col-12 spacing">
          <label for="card-number">Card Number</label>
          <div class="form-control" id="card-number"></div>
        </div>
        <div class="col-12 spacing">
          <label for="cvv">CVV</label>
          <div class="form-control" id="cvv"></div>
        </div>
        <div class="col-12 spacing">
          <label for="expiration-date">Expiration Date</label>
          <div class="form-control" id="expiration-date"></div>
        </div>
        <div class="col-12">
          <button style="width: 100%;" id="submitButton" class="btn btn-success">Pay</button>
        </div>
      </div>

      <input hidden id="clientToken" value="<%= clientToken %>">
      <input type="hidden" id="paymentMethodNonce" name="paymentMethodNonce" />
      <input type="hidden" id="deviceData" name="deviceData" />
    </form>


    <div class='docs-card'>
      <table class='table'>
        <tbody>
          <tr>
            <th>Developer Docs</th>
            <td><a target='_blank'
                href='https://developer.paypal.com/braintree/docs/guides/hosted-fields/setup-and-integration'>developer.paypal.com/braintree/docs/guides/hosted-fields/setup-and-integration</a>
            </td>
          </tr>
          <tr>
            <th>Github.io</th>
            <td><a target='_blank'
                href='https://braintree.github.io/braintree-web/current/HostedFields.html'>braintree.github.io/braintree-web/current/HostedFields.html</a>
            </td>
          </tr>
          <tr>
            <th>GitHub</th>
            <td><a target='_blank'
                href='https://github.com/braintree/braintree-web/blob/main/CHANGELOG.md'>github.com/braintree/braintree-web/blob/main/CHANGELOG.md</a>
            </td>
          </tr>
          <tr>
            <th>Testing Card Values</th>
            <td><a target='_blank'
                href='https://developer.paypal.com/braintree/docs/reference/general/testing/#credit-card-numbers'>developer.paypal.com/braintree/docs/reference/general/testing/#credit-card-numbers</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <script src="https://js.braintreegateway.com/web/3.97.1/js/client.min.js"></script>
  <script src="https://js.braintreegateway.com/web/3.97.1/js/hosted-fields.min.js"></script>
  <script>

    const clientToken = document.getElementById("clientToken").value
    const submitButton = document.getElementById("submitButton");
    const form = document.getElementById("paymentForm")

    console.log(`Client token is \n ${clientToken}`)

    braintree.client.create({
      authorization: clientToken,
    }, (err, clientInstance) => {
      if (err) {
        console.error("Error creating client:", err);
        return;
      }

      braintree.hostedFields.create({
        client: clientInstance,
        fields: {
          cardholderName: {
            container: "#cardholder-name",
            placeholder: "Your Name"
          },
          number: {
            container: "#card-number",
            placeholder: "4111 1111 1111 1111"
          },
          cvv: {
            container: "#cvv",
            placeholder: "123"
          },
          expirationDate: {
            container: "#expiration-date",
            placeholder: "MM/YYYY"
          }
        }
      }, (hostedFieldsErr, hostedFieldsInstance) => {
        if (hostedFieldsErr) {
          console.error(hostedFieldsErr);
          return;
        }

        form.addEventListener("submit", (event) => {
          event.preventDefault();
          submitButton.setAttribute("disabled", true);
          hostedFieldsInstance.tokenize((tokenizeErr, payload) => {
            if (tokenizeErr) {
              submitButton.removeAttribute("disabled");
              handleInputError(tokenizeErr.details);
              return;
            }
            document.getElementById("paymentMethodNonce").value = payload.nonce;
            form.submit()
          });
        }, false);
      });
    });

    const errorMessageContainer = document.getElementById('errorMessages')

    const alert = (message) => {
      var wrapper = document.createElement('div')
      wrapper.innerHTML = '<div class="alert alert-warning alert-dismissible" role="alert">' + message + '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>'
      errorMessageContainer.append(wrapper)
    }

    var handleInputError = (details) => {
      let errorMessage = "";
      if (details === undefined) {
        errorMessage =
          "Please be sure to enter your payment details before submitting";
        alert(errorMessage);
        return;
      }
      if (
        details.invalidFieldKeys.length === 1 &&
        details.invalidFieldKeys.includes("cvv")
      ) {
        errorMessage += " CVV -";
        errorMessage = "Don't forget to enter your CVV";
        alert(errorMessage);
        flipCard();
        return;
      }
      errorMessage = "Please enter a valid -";
      if (details.invalidFieldKeys.includes("number"))
        errorMessage += " card number - ";
      if (details.invalidFieldKeys.includes("expirationDate"))
        errorMessage += " expiration date -";
      if (details.invalidFieldKeys.includes("cardholderName"))
        errorMessage += " cardholder name -";
      if (details.invalidFieldKeys.includes("cvv")) errorMessage += " CVV -";
      alert(errorMessage.substring(0, errorMessage.length - 1));
      return;
    };

  </script>
</body>

</html>